@model IEnumerable<EZ_Regulatory3.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Date Modified
        </th>
        <th>
            Type
        </th>
        <th>
            Compliant Answer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompliantAnswer)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.QuestionID }) |
            @Html.ActionLink("Create New Question From This", "CreateNewQuestionFromThis", new { id=item.QuestionID }) 
            @if (item.Surveys.Count == 0)
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id=item.QuestionID }) 
                @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.QuestionID }) 
            }
        </td>
    </tr>
}

</table>
