@model IEnumerable<EZ_Regulatory3.Models.Survey>

@{
    ViewBag.Title = "Reporting";
}
<h2>@ViewBag.Message</h2>
<h3>
    Monthly Reports
</h3>
<p>
    @Html.ActionLink("Current Month", "Index") |
    @Html.ActionLink("Unapproved", "ViewUnapproved") |
    @Html.ActionLink("All", "ViewAll")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Checklist
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Month
        </th>
        <th>
            Submitted
        </th>
        <th>
            Approved
        </th>
        <th>
            Date Added
        </th>
    </tr>

@foreach (var item in Model) { 
    if(item.Approved.ToUpper() == "NO") {
        foreach(var user in item.Users)
                {
    <tr>
        <td>
                        @Html.ActionLink(user.Name,  "Details", new { id=user.ID , surveyid = item.ID})
        </td>
        <td>
                        @Html.ActionLink(item.Title,  "Details", new { id=user.ID , surveyid = item.ID})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
    </tr>
}
}
}
</table>
