@model IEnumerable<EZ_Regulatory3.Models.Survey>

@{
    ViewBag.Title = "Reporting";
}
<h2>@ViewBag.Message</h2>
<h3>
</h3>
<p>
    @Html.ActionLink("Current Month", "Index") |
    @Html.ActionLink("Unapproved", "ViewUnapproved") |
    @Html.ActionLink("All", "ViewAll")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Checklist
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Month
        </th>
        <th>
            Submitted
        </th>
        <th>
            Approved
        </th>
        <th>
            Date Added
        </th>
        <th>
            Export To CSV
        </th>
    </tr>

    @foreach (var item in Model) {
            //<tr>
            //    <td>
            //        @Html.DisplayFor(modelItem => item.Title)
            //    </td>
            //</tr>
                foreach(var user in item.Users)
                {
                    EZ_Regulatory3.Models.SurveyAnswer thisSurveyAnswer = null;
                    IEnumerable<EZ_Regulatory3.Models.SurveyAnswer> surveyAnswers = ViewBag.SurveyAnswers;
                    foreach (var surveyAnswer in surveyAnswers)
                    {
                        if (surveyAnswer.UserID == user.ID && surveyAnswer.SurveyID == item.ID)
                        {
                            thisSurveyAnswer = surveyAnswer;
                        }
                    }
                  <tr> 
                      <td>
                        @Html.ActionLink(user.Name, "Details/"+user.ID, "User")
                    </td>
                      <td>
                        @Html.ActionLink(item.Title,  "Details", new { id=user.ID , surveyid = item.ID})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => thisSurveyAnswer.Submitted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => thisSurveyAnswer.Approved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.ActionLink("Export", "CSV", new { userID=item.ID , surveyID = item.ID})
                    </td>
                  </tr>
                }
    

        }
</table>
